<%# locals: message, current_user %>
<div id="<%= message.html_id %>" data-timestamp="<%= message.created_at %>" data-id="<%= message.id %>">
  <strong><%= message.user.name %></strong> <%= message.body %>
</div>
