<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>
<div id="message-top" data-get-path = "<%= room_messages_path(@room) %>" data-room-id = "<%= @room.id %>">
</div>
<div id="messages">
</div>
<script>
  getMoreMessages();
</script>

<%= render "new_message" %>


<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
